body {
    background: url(../img/restaurant_wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.splash {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/restaurant_wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.splash div,
.content_show {
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}

.item-menu {
    padding: 10px;
    width: 100%;
    height: 120px;
}

.icon-item-menu {
    font-size: 40px;
    color: #6E2C00;
}

.number-item-menu {
    text-align: right;
    font-weight: bold;
    font-size: 22px;
    color: #6E2C00;
}

.title-item-menu {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

.col-6 {
    padding: 10px;
}

.link-item-main-menu {
    text-decoration: none;
    font-weight: bold;
    color: #6E2C00;
}

.link-item-main-menu i {
    text-decoration: none;
    font-weight: bold;
    color: #6E2C00;
}

.msg_empty {
    background-color: white;
    color: #6E2C00;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.box-buttons {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-right: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.float-button {
    padding: 20px;
    padding-top: 24px;
    border-radius: 150px;
    text-decoration: none;
}

.float-button span {
    color: white;
    font-size: 24px;
}

.lbl-form {
    font-weight: bold;
    color: #6E2C00;
}

#content {
    padding: 0;
    margin: 0;
}

#flexBox {
    background-color: #6E2C00;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}

.botonera_firma {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    opacity: 0.5;
}